body {
	font-family: "Times New Roman", cursive, sans-serif;
	background-color: rgba(25, 25, 25);
	position: relative;
	color: white;
}

a {
	text-decoration: none;
}

a:hover {
	color: yellow
}

a p {
	display: none;
}

a:hover p {
	display: block;
}

h3 {
	font-weight: normal;
}

.photo {
	margin-top: 30px;
	height: 400px;
	width: 500px;
	border-radius: 150px;
}

#layout {
}

#header {
	margin: none;
}

#links {
	display: table;
	margin: 0 auto;
}

#horizontal li {
	display: inline;
	margin: 30px;
}

#horizontal {
	list-style: none;
	padding: 20px;
}

#footer {
	font-size: 9px;
}
